body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
}


/*-----Navigation Menu-----*/
.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #26877f;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  height: auto;
  max-width: 60px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: goldenrod;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #26877f;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #ffffff;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*======================================================
                    Media Screen Sizes 
 ======================================================*/

/********** Extra small devices only **********/
@media only screen and (max-width: 767px) { 
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    height: auto;
    width: 50px;
    
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #26877f;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
  .banner img {
    width: 100%;
    height: auto;
  }

  

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) { 
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #26877f;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }

  .banner img {
    width: 100%;
    height: auto;
  }


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #26877f;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #26877f;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

/*-----Banner Sale-----*/

.hs {
  text-align: center;
  color: #26877f;
  
}

.banner img {
  border-radius: 15px;
  object-fit: cover;
}

.sale {
  height: 450px;
  background-color: beige;
  padding-bottom: 65px;
}

/*------Shop Section-----*/
.layout {
  width: 400px;
  height: 650px;
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  align-items: top center;
}

.hs1 {
  text-align: center;
  color: #26877f; 
}

.plant1 img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;  
}

.plant2 img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;  
}

.plant3 img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;  
}

.plant4 img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;  
}

.plant5 img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;  
}

/*-----Services Section-----*/
.hs2 {
  text-align: center;
  color: #26877f; 
  font-size: 32px; 
}

.row img {
border-radius: 15px;
width: 500px;
margin-top: 25px;
}

.h3 {
  color: goldenrod;
  text-shadow: 2px 2px 4px black;
  font-size: 26px;
  letter-spacing: 1.7px;
  text-align: center;
}
.para1 {
  font-size: 16px;
  line-height: 1.5em; 
}

.services {
  background-color: beige;
  height: 500px;
  margin-bottom: 30px;  
}

.column {
  float: left;
}

.left {
  width: 30%;
  padding: 50px;
}

.right {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*-----About Section-----*/
.hs3 {
  text-align: center;
  color: #26877f;
}

.para2 {
  font-size: 16px;
  text-align: center;
  line-height: 1.5em;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  
}

table, th, td {
 
}
th, td {
  padding: 5px;
  text-align: center;      
}

.about {
  display: flex;
  height: 650px;
  justify-content: center;
  align-items: center;
}

/*-----Contact Section----*/
.hs4 {
  text-align: center;
  color: #26877f;
  font-size: 28px;
}

.lg {
  margin: auto;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #26877f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: goldenrod;
}

.container {
  display: flex;
  border-radius: 5px;
  background-color: beige;
  justify-content: top center;
  align-items: top center;
  padding: 5%;    
}


/*-----Footer-----*/
footer {
  position: fixed;
  background-color: #26877f;
  background-size: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
  padding-top: 20px;
  height: 40px;   /* Height of the footer */
  width: 100%;
}